<div class="home">

  <div class="row home-row">
<!--    <div class="col left-bar bg-dark-grey">-->
<!--      <p>left bar</p>-->
<!--    </div>-->
    <div class="col">
<!--      <div class="container" >-->
<!--        <div class="card-deck">-->
        <div class="card-container">
          <div class="card" *ngFor="let product of products">
<!--            <div class="card-img-container">-->
<!--              <img class="card-img-top" src="{{product.image}}" alt="Card image cap">-->
<!--            </div>-->
            <div class="img-row img-display">
              <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
            </div>
            <div class="card-body" >
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text category">{{product.category}}</p>
              <h5 class="card-title price">{{product.price}}$</h5>
              <div class="see-more-container">
                <a class="detail-btn btn btn-primary" href="/item/{{product.id}}">See more</a>
              </div>
            </div>
          </div>
        </div>
<!--      </div>-->
    </div>
      <button *ngIf="isLoggedUserIsAdmin" class="add-item-btn" routerLink="item/new">
        <i class="fa-solid fa-plus fa-2xl"></i>
      </button>
  </div>
</div>
