<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav navbar-collapse justify-content-start">
      <!--      <li>-->
      <!--        <a class="nav-link" [routerLink]="['/']">Survey</a>-->
      <!--      </li>-->
      <li>
        <a class="nav-link" [routerLink]="['/']">
          <p class="logo-alt">ViPShop</p>
        </a>
      </li>

      <div  *ngIf="!isUserLoggedIn" class="auth-container">
        <li>
          <a class="nav-link btn-auth" [routerLink]="['/login']">
            <p>
              SignIn
            </p>
          </a>
        </li>
        <p class="nav-link btn-auth"> / </p>
        <li>
          <a class="nav-link btn-auth" [routerLink]="['/registration']">
            <p>
              SignUp
            </p>
          </a>
        </li>
      </div>

      <div *ngIf="isUserLoggedIn" class="profile-container">
<!--        <div class="dropdown show">-->
<!--          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fa-solid fa-user fa-2xl user-icon" style="color: #d2d2d2;"></i>-->
<!--            <p class="username">{{authenticatedUser}}</p>-->
<!--          </a>-->

<!--          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </div>-->
        <div class="dropdown cart" *ngIf="activeCart && activeCart.items.length > 0">
          <a  type="button" id="cartDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-cart-shopping fa-2xl" style=" color: #d2d2d2;"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right cart-dropdown" aria-labelledby="cartDropdown">
            <div *ngFor="let item of this.activeCart.items" class="cart-line">
              <div class="cart-title">
                {{item.title}}
              </div>
              <div class="cart-quantity">
                {{item.quantity}}
              </div>
              <div class="cart-item-price">
                {{item.price}}
              </div>
            </div>
            <div class="cart-total-price">
              <div>
                {{activeCart.price}}
              </div>
            </div>
            <div class="cart-total-price">
              <div>
                <button class="btn btn-success btn-buy" type="button" (click)="orderActiveCart()">
                  Buy now
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user fa-2xl user-icon" style="color: #d2d2d2;"></i>
            <p class="username">{{authenticatedUser}}</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/" (click)=handleLogout()>Logout</a>
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
          </div>
        </div>
      </div>

    </ul>
  </nav>
</header>
